.toolbar{
  position: fixed;
  width: 100%;
  height: 8vh;
  background-color: #10E956;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  div{
    margin: 0 15px;
    cursor: pointer;
  }
}

.logo{
  height: 5vh;
  width: 3vw;
  background-color: #000000;
  border-radius: 10px;
  color: #10E956;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 24px;
  
}

.toggle{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 5vh;
  gap: 14%;
  div{
    border: 3px solid  #070000;
    border-radius: 10px;
  }
}

.toggle div:nth-child(1) {
  width: 2vw;
}

.toggle div:nth-child(2) {
  width: 1.5vw;
}

.toggle div:nth-child(3) {
  width: 1vw;
}

.circle{
  clip-path: ellipse(100% 10% at 50% 100%);
  background-color: white;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 90%;
}

.content{
  flex: 1;
}

.contentPage{
  height: 92vh;
  display: flex;
  flex-direction: column;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.menu{
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: #10E956;
  position: fixed;
  display: flex;
  flex-direction: column;
  .tabClose{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 5%;
    margin: 10px;
    box-sizing: border-box;
  }
  .contentMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000000;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 34px;
    padding-right: 5%;
    cursor: pointer;
    background-color: #1e2128;
    height: 100%;
    color: #10E956;

    p:hover{
      color: white;
    }
  }
}